@*@model Shoplinhkien.Models.Product

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> lsProducts = ViewBag.SanPham;
}


<!-- Main Header Area End Here -->
<!-- Categorie Menu & Slider Area Start Here -->
<div class="main-page-banner home-3">
    <div class="container">
        <div class="row">
            <!-- Vertical Menu Start Here -->
            <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                <div class="vertical-menu mb-all-30">
                    <nav>
                        <ul class="vertical-menu-list">
                            <li class="">
                                <a href="shop.html"><span><img src="~/asset/img/vertical-menu/1.png" alt="menu-icon"></span>Automotive & Motorcycle<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                <ul class="ht-dropdown mega-child">
                                    <li>
                                        <a href="shop.html">Office chair <i class="fa fa-angle-right"></i></a>
                                        <!-- category submenu end-->
                                        <ul class="ht-dropdown mega-child">
                                            <li><a href="shop.html">Bibendum Cursus</a></li>
                                            <li><a href="shop.html">Dignissim Turpis</a></li>
                                            <li><a href="shop.html">Dining room</a></li>
                                            <li><a href="shop.html">Dining room</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li>
                                        <a href="shop.html">Purus Lacus <i class="fa fa-angle-right"></i></a>
                                        <!-- category submenu end-->
                                        <ul class="ht-dropdown mega-child">
                                            <li><a href="shop.html">Magna Pellentesq</a></li>
                                            <li><a href="shop.html">Molestie Tortor</a></li>
                                            <li><a href="shop.html">Vehicula Element</a></li>
                                            <li><a href="shop.html">Sagittis Blandit</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li><a href="shop.html">Sagittis Eget</a></li>
                                    <li><a href="shop.html">Sagittis Eget</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="~/asset/img/vertical-menu/3.png" alt="menu-icon"></span>Sports & Outdoors<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu first-megamenu">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Cameras</li>
                                            <li><a href="shop.html">Cords and Cables</a></li>
                                            <li><a href="shop.html">gps accessories</a></li>
                                            <li><a href="shop.html">Microphones</a></li>
                                            <li><a href="shop.html">Wireless Transmitters</a></li>
                                        </ul>
                                        <ul>
                                            <li class="menu-tile">GamePad</li>
                                            <li><a href="shop.html">real game hd</a></li>
                                            <li><a href="shop.html">fighting game</a></li>
                                            <li><a href="shop.html">racing pad</a></li>
                                            <li><a href="shop.html">puzzle pad</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Digital Cameras</li>
                                            <li><a href="shop.html">Camera one</a></li>
                                            <li><a href="shop.html">Camera two</a></li>
                                            <li><a href="shop.html">Camera three</a></li>
                                            <li><a href="shop.html">Camera four</a></li>
                                        </ul>
                                        <ul>
                                            <li class="menu-tile">Virtual Reality</li>
                                            <li><a href="shop.html">Reality one</a></li>
                                            <li><a href="shop.html">Reality two</a></li>
                                            <li><a href="shop.html">Reality three</a></li>
                                            <li><a href="shop.html">Reality four</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Megamenu Image Start -->
                                    <li class="megamenu-img">
                                        <a href="shop.html"><img src="~/asset/img/vertical-menu/sub-img1.jpg" alt="menu-image"></a>
                                        <a href="shop.html"><img src="~/asset/img/vertical-menu/sub-img2.jpg" alt="menu-image"></a>
                                        <a href="shop.html"><img src="~/asset/img/vertical-menu/sub-img3.jpg" alt="menu-image"></a>
                                    </li>
                                    <!-- Single Megamenu Image End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="~/asset/img/vertical-menu/6.png" alt="menu-icon"></span>Fashion<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Men’s Fashion</li>
                                            <li><a href="shop.html">Blazers</a></li>
                                            <li><a href="shop.html">Boots</a></li>
                                            <li><a href="shop.html">pants</a></li>
                                            <li><a href="shop.html">Tops & Tees</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Women’s Fashion</li>
                                            <li><a href="shop.html">Bags</a></li>
                                            <li><a href="shop.html">Bottoms</a></li>
                                            <li><a href="shop.html">Shirts</a></li>
                                            <li><a href="shop.html">Tailored</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="~/asset/img/vertical-menu/7.png" alt="menu-icon"></span>Home & Kitchen<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Large Appliances</li>
                                            <li><a href="shop.html">Armchairs</a></li>
                                            <li><a href="shop.html">Bunk Bed</a></li>
                                            <li><a href="shop.html">Mattress</a></li>
                                            <li><a href="shop.html">Sideboard</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Small Appliances</li>
                                            <li><a href="shop.html">Bootees Bags</a></li>
                                            <li><a href="shop.html">Jackets</a></li>
                                            <li><a href="shop.html">Shelf</a></li>
                                            <li><a href="shop.html">Shoes</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html">
                                    <span><img src="~/asset/img/vertical-menu/4.png" alt="menu-icon"></span>Phones & Tablets<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Tablet</li>
                                            <li><a href="shop.html">tablet one</a></li>
                                            <li><a href="shop.html">tablet two</a></li>
                                            <li><a href="shop.html">tablet three</a></li>
                                            <li><a href="shop.html">tablet four</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Smartphone</li>
                                            <li><a href="shop.html">phone one</a></li>
                                            <li><a href="shop.html">phone two</a></li>
                                            <li><a href="shop.html">phone three</a></li>
                                            <li><a href="shop.html">phone four</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="~/asset/img/vertical-menu/6.png" alt="menu-icon"></span>TV & Video<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Gaming Desktops</li>
                                            <li><a href="shop.html">Alpha Desktop</a></li>
                                            <li><a href="shop.html">rober Desktop</a></li>
                                            <li><a href="shop.html">Ultra Desktop </a></li>
                                            <li><a href="shop.html">beta desktop</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Women’s Fashion</li>
                                            <li><a href="shop.html">3D-Capable</a></li>
                                            <li><a href="shop.html">Clearance</a></li>
                                            <li><a href="shop.html">Free Shipping Eligible</a></li>
                                            <li><a href="shop.html">On Sale</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="~/asset/img/vertical-menu/5.png" alt="menu-icon"></span>Beauty</a>
                            </li>
                            <li><a href="shop.html"><span><img src="~/asset/img/vertical-menu/8.png" alt="menu-icon"></span>Fruits & Veggies</a></li>
                            <li><a href="shop.html"><span><img src="~/asset/img/vertical-menu/9.png" alt="menu-icon"></span>Computer & Laptop</a></li>
                            <li><a href="shop.html"><span><img src="~/asset/img/vertical-menu/10.png" alt="menu-icon"></span>Meat & Seafood</a></li>
                            <!-- More Categoies Start -->
                            <li id="cate-toggle" class="category-menu v-cat-menu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#">More Categories</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html"><span><img src="~/asset/img/vertical-menu/11.png" alt="menu-icon"></span>Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- More Categoies End -->
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Vertical Menu End Here -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Categorie Menu & Slider Area End Here -->
<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li class="active"><a href="product.html">Products</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail ptb-100 ptb-sm-60">
    <div class="container">
        <div class="thumb-bg">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5 mb-all-40">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane fade show active">
                            <a data-fancybox="images" href="~/images/products/@Model.Image"><img src="~/images/products/@Model.Image" alt="@Model.Title"></a>
                        </div>
                        <div id="thumb2" class="tab-pane fade">
                            <a data-fancybox="images" href="~/images/products/@Model.Image"><img src="~/images/products/@Model.Image" alt="@Model.Title"></a>
                        </div>
                        <div id="thumb3" class="tab-pane fade">
                            <a data-fancybox="images" href="~/images/products/@Model.Image"><img src="~/images/products/@Model.Image" alt="@Model.Title"></a>
                        </div>
                        <div id="thumb4" class="tab-pane fade">
                            <a data-fancybox="images" href="~/images/products/@Model.Image"><img src="~/images/products/@Model.Image" alt="@Model.Title"></a>
                        </div>
                        <div id="thumb5" class="tab-pane fade">
                            <a data-fancybox="images" href="~/images/products/@Model.Image"><img src="~/images/products/@Model.Image" alt="@Model.Title"></a>
                        </div>
                    </div>
                    <!-- Thumbnail Large Image End -->
                    <!-- Thumbnail Image End -->
                    <div class="product-thumbnail mt-15">
                        <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                            <a class="active" data-toggle="tab" href="~/images/products/@Model.Image"><img src="~/images/products/@Model.Image" alt="@Model.Title"></a>
                            <a data-toggle="tab" href="#thumb2"><img src="~/asset/img/products/13.jpg" alt="product-thumbnail"></a>
                            <a data-toggle="tab" href="#thumb3"><img src="~/asset/img/products/15.jpg" alt="product-thumbnail"></a>
                            <a data-toggle="tab" href="#thumb4"><img src="~/asset/img/products/4.jpg" alt="product-thumbnail"></a>
                            <a data-toggle="tab" href="#thumb5"><img src="~/asset/img/products/5.jpg" alt="product-thumbnail"></a>
                        </div>
                    </div>
                    <!-- Thumbnail image end -->
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h1 class="product-header">@Model.ProductName</h1>
                        <div class="rating-summary fix mtb-10">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-feedback">
                                <a href="#">(1 review)</a>
                                <a href="#">add to your review</a>
                            </div>
                        </div>
                        <div class="pro-price mtb-30">
                            <p class="d-flex align-items-center">@Model.Price.Value.ToString("#,##0") VNĐ<span class="saving-price">save 8%</span></p>
                        </div>
                        <p class="mb-20 pro-desc-details">Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>
                        <div class="product-size mb-20 clearfix">
                            <label>Size</label>
                            <select class="">
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                            </select>
                        </div>
                        <div class="color clearfix mb-20">
                            <label>color</label>
                            <ul class="color-list">
                                <li>
                                    <a class="orange active" href="#"></a>
                                </li>
                                <li>
                                    <a class="paste" href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="box-quantity d-flex hot-product2">
                            <div class="cart-plus-minus">
                                <input id="txtsoLuong" name="txtsoLuong" class="cart-plus-minus-box" value="1" type="text">
                            </div>
                            <div class="pro-actions">
                                <div class="actions-primary">
                                    <a href="javascript:void(0)" title="" data-original-title="Add to Cart"> + Add To Cart</a>
                                    <input hidden asp-for="ProductId" />
                                </div>
                                    <div class="product-category text-matterhorn pb-2">
                                    <span class="title">DANH MỤC :</span>
                                    <ul>
                                        <li>
                                            <a href="danhmuc/@Model.Cat.Alias">@Model.Cat.CatName</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="actions-secondary">
                                    <a href="compare.html" title="" data-original-title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                                    <a href="wishlist.html" title="" data-original-title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="pro-ref mt-20">
                            <p><span class="in-stock"><i class="ion-checkmark-round"></i> IN STOCK</span></p>
                        </div>
                        <div class="socila-sharing mt-25">
                            <ul class="d-flex">
                                <li>share</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail End -->
<!-- Product Thumbnail Description Start -->
<div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav tabs-area" role="tablist">
                    <li><a class="active" data-toggle="tab" href="#dtail">Product Details</a></li>
                    <li><a data-toggle="tab" href="#review">Reviews 1</a></li>
                </ul>
                <!-- Product Thumbnail Tab Content Start -->
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade show active">
                        <p>@Model.Description</p>
                    </div>
                    <div id="review" class="tab-pane fade">
                        <!-- Reviews Start -->
                        <div class="review border-default universal-padding">
                            <div class="group-title">
                                <h2>customer review</h2>
                            </div>
                            <h4 class="review-mini-title">Truemart</h4>
                            <ul class="review-list">
                                <!-- Single Review List Start -->
                                <li>
                                    <span>Quality</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Truemart</label>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>price</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Review by <a href="https://themeforest.net/user/hastech">Truemart</a></label>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>value</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Posted on 7/20/18</label>
                                </li>
                                <!-- Single Review List End -->
                            </ul>
                        </div>
                        <!-- Reviews End -->
                        <!-- Reviews Start -->
                        <div class="review border-default universal-padding mt-30">
                            <h2 class="review-title mb-30">You're reviewing: <br><span>Faded Short Sleeves T-shirt</span></h2>
                            <p class="review-mini-title">your rating</p>
                            <ul class="review-list">
                                <!-- Single Review List Start -->
                                <li>
                                    <span>Quality</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>price</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>value</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                            </ul>
                            <!-- Reviews Field Start -->
                            <div class="riview-field mt-40">
                                <form autocomplete="off" action="#">
                                    <div class="form-group">
                                        <label class="req" for="sure-name">Nickname</label>
                                        <input type="text" class="form-control" id="sure-name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="subject">Summary</label>
                                        <input type="text" class="form-control" id="subject" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="comments">Review</label>
                                        <textarea class="form-control" rows="5" id="comments" required="required"></textarea>
                                    </div>
                                    <button type="submit" class="customer-btn">Submit Review</button>
                                </form>
                            </div>
                            <!-- Reviews Field Start -->
                        </div>
                        <!-- Reviews End -->
                    </div>
                </div>
                <!-- Product Thumbnail Tab Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail Description End -->
<!-- Realted Products Start Here -->
<div class="hot-deal-products off-white-bg pt-100 pb-90 pt-sm-60 pb-sm-50">
    <div class="container">
        <!-- Product Title Start -->
        <div class="post-title pb-30">
            <h2>Realted Products</h2>
        </div>
        <!-- Product Title End -->
        <!-- Hot Deal Product Activation Start -->
        <div class="hot-deal-active owl-carousel">
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/17.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/18.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Eames and Vortex Side</a></h4>
                        <p><span class="price">$160.45</span></p>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
                <span class="sticker-new">new</span>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/19.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/20.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Work Lamp Silver Proin</a></h4>
                        <p><span class="price">$320.45</span> <del class="prev-price">$330.50</del></p>
                        <div class="label-product l_sale">15<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/21.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/22.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Gpoly and Bark Eames Style</a></h4>
                        <p><span class="price">$150.30</span> <del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">22<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/22.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/23.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Poly and Bark Vortex Side</a></h4>
                        <p><span class="price">$90.45</span></p>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
                <span class="sticker-new">new</span>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/8.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/9.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Eames and Bark  Style</a></h4>
                        <p><span class="price">$90.45</span><del class="prev-price">$100.50</del></p>
                        <div class="label-product l_sale">20<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/15.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/16.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Bark Vortex Side Eames</a></h4>
                        <p><span class="price">$84.45</span></p>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/13.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/14.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Poly and Bark Vortex Side</a></h4>
                        <p><span class="price">$95.45</span></p>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product.html">
                        <img class="primary-img" src="~/asset/img/products/1.jpg" alt="single-product">
                        <img class="secondary-img" src="~/asset/img/products/7.jpg" alt="single-product">
                    </a>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product.html">Poly and Bark Vortex Side</a></h4>
                        <p><span class="price">$84.45</span></p>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
        </div>
        <!-- Hot Deal Product Active End -->

    </div>
    <!-- Container End -->
</div>
<!-- Realated Products End Here -->
<!-- Support Area Start Here -->
<div class="support-area bdr-top">
    <div class="container">
        <div class="d-flex flex-wrap text-center">
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-gift"></i>
                </div>
                <div class="support-desc">
                    <h6>Great Value</h6>
                    <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-rocket"></i>
                </div>
                <div class="support-desc">
                    <h6>Worlwide Delivery</h6>
                    <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-lock"></i>
                </div>
                <div class="support-desc">
                    <h6>Safe Payment</h6>
                    <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-enter-down"></i>
                </div>
                <div class="support-desc">
                    <h6>Shop Confidence</h6>
                    <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-users"></i>
                </div>
                <div class="support-desc">
                    <h6>24/7 Help Center</h6>
                    <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>



*@




@model Shoplinhkien.Models.Product

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> lsProducts = ViewBag.SanPham;
}

<!-- Begin Main Content Area  -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/2-1-1920x523.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">@Model.ProductName</h1>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>@Model.ProductName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="~/images/products/@Model.Image" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/products/@Model.Image" alt="@Model.Title">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/assets/images/product/large-size/2-2-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-2-555x645.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/assets/images/product/large-size/2-3-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-3-555x645.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/assets/images/product/large-size/2-4-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-4-555x645.jpg" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-thumb-with-content row">
                        <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                            <div class="single-product-content">
                                <h2 class="title">@Model.ProductName</h2>
                                <div class="price-box pb-1">
                                    <span class="new-price text-danger">@Model.Price.Value.ToString("#,##0") VNĐ</span>
                                    @*<span class="old-price text-primary">$90.00</span>*@
                                </div>
                                <div class="rating-box-wrap pb-7">
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="review-status ps-4">
                                        <a href="javascript:void(0)">( 1 Customer Review )</a>
                                    </div>
                                </div>
                                <p class="short-desc mb-6">
                                    @Model.ShortDesc
                                </p>
                                <ul class="quantity-with-btn pb-7">
                                    <li class="quantity">
                                        <div class="cart-plus-minus">
                                            <input id="txtsoLuong" name="txtsoLuong" class="cart-plus-minus-box" value="1" type="text">
                                        </div>
                                    </li>
                                    <li class="add-to-cart">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                        <input hidden asp-for="ProductId" />
                                    </li>
                                </ul>
                                <div class="product-category text-matterhorn pb-2">
                                    <span class="title">DANH MỤC :</span>
                                    <ul>
                                        <li>
                                            <a href="danhmuc/@Model.Cat.Alias">@Model.Cat.CatName</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                        <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
                            <div class="swiper-container single-product-thumbs">
                                <div class="swiper-wrapper">
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-1-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-2-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-3-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-4-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active btn btn-custom-size" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Mô tả sản phẩm
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Reviews
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="shipping-tab" data-bs-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">
                                Thông tin giao hàng
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                <h4 class="heading mb-5">3 Review Items</h4>
                                <ul class="user-info-wrap">
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Oscar -</strong> March 15, 2021</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    “Sed ligula sapien, fermentum id est eget,
                                                    viverra auctor sem. Vivamus maximus enim vitae urna porta, ut
                                                    euismod nibh lacinia ellentesque at diam voluptas quas nisi, culpa
                                                    in accusantium“
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Oscar -</strong> March 15, 2021</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    “Sed ligula sapien, fermentum id est eget,
                                                    viverra auctor sem. Vivamus maximus enim vitae urna porta, ut
                                                    euismod nibh lacinia ellentesque at diam voluptas quas nisi, culpa
                                                    in accusantium“
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Oscar -</strong> March 15, 2021</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    “Sed ligula sapien, fermentum id est eget,
                                                    viverra auctor sem. Vivamus maximus enim vitae urna porta, ut
                                                    euismod nibh lacinia ellentesque at diam voluptas quas nisi, culpa
                                                    in accusantium“
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="feedback-area pt-5">
                                    <h2 class="heading mb-1">Add a review</h2>
                                    <p class="short-desc mb-3">Your email address will not be published.</p>
                                    <div class="rating-box">
                                        <span>Your rating</span>
                                        <ul class="ps-4">
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                        </ul>
                                    </div>
                                    <form class="feedback-form pt-8" action="#">
                                        <div class="group-input">
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="name" placeholder="Your Name*" class="input-field">
                                            </div>
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="email" placeholder="Your Email*" class="input-field">
                                            </div>
                                            <div class="form-field">
                                                <input type="text" name="number" placeholder="Phone number" class="input-field">
                                            </div>
                                        </div>
                                        <div class="form-field mt-6">
                                            <textarea name="message" placeholder="Message" class="textarea-field"></textarea>
                                        </div>
                                        <div class="button-wrap mt-8">
                                            <button type="submit" value="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover btn-lg rounded-0" name="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <div class="product-shipping-body">
                                <h4 class="title">Shipping</h4>
                                <p class="short-desc mb-4">
                                    The item will be shipped from China. So it need 15-20 days to
                                    deliver. Our product is good with reasonable price and we believe you will worth it.
                                    So please wait for it patiently! Thanks.Any question please kindly to contact us and
                                    we promise to work hard to help you to solve the problem
                                </p>
                                <h4 class="title">About return request</h4>
                                <p class="short-desc mb-4">
                                    If you don't need the item with worry, you can contact us
                                    then we will help you to solve the problem, so please close the return request!
                                    Thanks
                                </p>
                                <h4 class="title">Guarantee</h4>
                                <p class="short-desc mb-0">
                                    If it is the quality question, we will resend or refund to
                                    you; If you receive damaged or wrong items, please contact us and attach some
                                    pictures about product, we will exchange a new correct item to you after the
                                    confirmation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-slider-area section-space-top-95 section-space-bottom-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">Có thể bạn cũng thích</span>
                <h2 class="title mb-0">Sản phẩm liên quan</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-slider-holder swiper-arrow">
                        <div class="swiper-container product-slider border-issue">
                            <div class="swiper-wrapper">
                                @if (lsProducts != null)
                                {
                                    foreach (var item in lsProducts)
                                    {
                                        string url = $"/{item.Alias}-{item.ProductId}.html";
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Image" alt="@item.Title">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="cart.html">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="compare.html">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content texx">
                                                    <a class="product-name" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here  -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var productid = $('#ProductId').val();
                    var soLuong = $('#txtsoLuong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: soLuong
                        },
                        success: function (response) {
                            if (response.result == 'Redirect') {
                                window.location = response.url;
                            }
                            else {
                                loadHeaderCart(); //Add Product success
                                location.reload();
                            }
                            console.log(response); // log to the console to see whether it worked
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });

        @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                url: "api/cart/remove",
                type: "POST",
                dataType: "JSON",
                data: { productID: productid },
                success: function (result) {
                if (result.success) {
                loadHeaderCart();//Reload lai gio hang
                location.reload();
                }
                },
                error: function (rs) {
                alert("Remove Cart Error !")
                }
                });
                });*@
                });
            function loadHeaderCart() {
                $('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
            }
        });
    </script>

}