@model Shoplinhkien.Models.Category

@{
    ViewData["Title"] = "Chi tiết Page :" + Model.CatName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" class="breadcrumb-item">Danh sách Page</a>
                <span class="breadcrumb-item active">Danh mục : @Model.CatName</span>
            </nav>
        </div>
    </div>
    <div class="card-body">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="avatar avatar-image rounded" style="height:100px; width:200px">
                        <img src="~/images/category/@Model.Thumb" alt="@Model.Title" />
                    </div>

                </div>

                <div class="m-b-15">
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@Model.CatId">Sửa đổi</a>
                </div>
            </div>
        </div>
        <div>
            <p class="m-b-0"></p>
            <p class="text-muted m-b-0">ID: #@Model.CatId</p>

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CatName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CatName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ParentId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParentId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Levels)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Levels)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ordering)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ordering)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Published)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Published)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Thumb)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Thumb)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Alias)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Alias)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MetaDesc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MetaDesc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Metakey)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Metakey)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cover)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cover)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SchemaMarkup)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SchemaMarkup)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Creator)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Creator)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UpdateBy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UpdateBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PdGroup)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PdGroup.PdGroupId)
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.CatId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>


