@model Shoplinhkien.Models.Page

@{
    ViewData["Title"] = "Chi tiết Page :" + Model.PageName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Danh sách Page</a>
            <span class="breadcrumb-item active">Thông tin Page : @Model.PageName</span>
        </nav>
    </div>
</div>




<div class="card-body">
    <div class="m-b-15">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminPages" asp-action="Edit" asp-route-id="@Model.PageId">Edit</a>
    </div>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>Ảnh đại diện</td>
                    <td class="text-dark font-weight-semibold"><img src="~/images/pages/@Model.Thumb" alt="@Model.Title" /></td>
                </tr>
                <tr>
                    <td>PageName:</td>
                    <td>@Model.PageName</td>
                </tr>
                <tr>
                    <td>PageId:</td>
                    <td>@Model.PageId</td>
                </tr>
                

            </tbody>
        </table>
    </div>
</div>